<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Login Page</title>

</head>

<body>
    <div class="page-container">


        <h1 id="welcome-message">Welcome to Your Virtual Wardrobe!</h1>
        <h2 id="description">A place for all your clothes and accessories.</h2>    
        

        <div class="content-container">

            <div class="picture">
                <img id="man" src="../img/mirror_man.svg">
            </div>
           
            <div class="forms-container">
                <div class="login-container">
                    <form id="form-login">
                        <p id="login-title">Login</p>
                        <div id="username-container" class="input-container">
                            <p id="username-title">Username</p>
                            <input id="email-input" name="email" type="text">
                        </div>

                        <div id="password-container" class="input-container">
                            <p id="password-title">Password</p>
                            <input id="password-input" name="password" type="password">
                        </div>
                        
                        <button id="login-button">Login</button>
                    </form>
                </div>
    
                <div class="register-container">
                    <p id="account-question">Don't have an account?</p>
                    <button id="register-button">
                        <span >Register</span>
                    </button>
                </div>          
            </div>
            
        </div>
    </div>
</body>