<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Randomizer</title>
</head>

<body>

    <div class="main-container">
    
        <nav class="sidenav">
            <label class="nav-label">Your Virtual Wardrobe</label>

            <a href="#">Wardrobe</a>
            <a href="./randomizer.html">Outfit randomizer</a>
            <a href="./picker.html">Outfit picker</a>
            <a href="./favourites.html">Favourite outfits</a>
        </nav>

        <div id="outfits-main" class="main">

            <button id="choose-my-outfit-button" class="util-button">Chooose my outfit</button>

            <hr>

            <h1 class="prompt">Your outfit for the day is:</h1>

            <div class="outfit">

                <div class="outfit-part">
                    <label class="outfit-part-label">Shirts</label>
                    
                    <img>
                </div>

                <div class="outfit-part">
                    <label class="outfit-part-label">Jackets</label>

                    <img>
                </div>

                <div class="outfit-part">
                    <label class="outfit-part-label">Pants</label>

                    <img>
                </div>

                <div class="outfit-part">
                    <label class="outfit-part-label">Socks</label>

                    <img>
                </div>

                <div class="outfit-part">
                    <label class="outfit-part-label">Shoes</label>

                    <img>
                </div>

                <div class="outfit-part">
                    <label class="outfit-part-label">Accessories</label>

                    <img>
                </div>

            </div>

        </div>
        
    </div>
    
</body>