<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Register Page</title>

</head>

<body>

    <div class="base-container">

        <form id="register-form">
            <p>Register</p>
            <p>Username</p>
            <input id="register-email" name="email" type="text" placeholder="email@email.com">
            <p>Password</p>
            <input id="register-password" name="password" type="password" placeholder="password">
            <button class="login-button">Register</button>
        </form>
            
        <img id="woman" src="../img/woman.svg">
        

    </div>

</body>