<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Wardrobe</title>

</head>

<body>
    
  

    <div>
        <a href="#">Wardrobe</a>
        <a href="#">Outfit randomizer</a>
        <a href="#">Outfit picker</a>
        <a href="#">Favourite outfits</a>

    </div>

    <div id="main">

        <button>Add clothes</button>
        
        <div id="shoes-section" class="clothing-section">
            <div id="shoes-section-title" class="clothing-section-title">
                <p id="shoes-title">Shoes</p>
            </div>
            <div class="image-space">
                
            </div>
        </div>

        <div id="shirts-section" class="clothing-section">
            <div id="shirts-section-title" class="clothing-section-title"></div>
        </div>
        
        <div id="accessories-section" class="clothing-section">

        </div>

    </div>

    

    
</body>