section.clothing-upload {
    width: 90%;
    height: 50%;

    display: flex;
    flex-direction: column;

    margin-left: 5%;

    border: solid;
}

label {
    width: fit-content;

    font-family: 'Source Serif 4';
    font-style: normal;
    font-weight: 400;
    font-size: 5vh;
    line-height: 5vh;
    color:#FBEAFF;

    margin-left: 2%;
    margin-bottom: 1%;

    border: solid;

}

input#name {
    width: 50%;
    height: 10%;

    border-radius: 45px;
    border: none;
    border: solid;
}

input[type="text"] {
    font-family: 'Source Serif 4';
    font-style: normal;
    font-weight: 400;
    font-size: 2vmax;
    line-height: 2vmax;

    padding-left: 2%;

    background: #FBEAFF;
}

input[type="file"] {
    display: none;
}

.upload-file {
    width: 50%;

    background: #00C9A7;
    border-radius: 2vmax;
    border: none;

    font-family: 'Source Serif 4';
    font-style: normal;
    font-weight: 400;
    font-size: 3vmax;
    line-height: 4vmax;
    color:#FBEAFF;

    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;

    margin-left: 0;

    border: solid;
}

.confirm-upload {
    width: 50%;
    height: 25%;

    font-family: 'Source Serif 4';
    font-style: normal;
    font-weight: 400;
    font-size: 3vmax;
    line-height: 3vmax;
    color:#FBEAFF;

    background: #00C9A7;
    border-radius: 2vmax;

    border-width: 0px;
    cursor: pointer;

    border: solid;
}

select {
    width: 50%;

    font-family: 'Source Serif 4';
    font-style: normal;
    font-weight: 400;
    font-size: 4vh;
    line-height: 4vh;

    border-radius: 2vmax;
    padding: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    border: none;
    /*color:#FBEAFF;*/
    /*appearance: none;*/

    border: solid;

}


h1 {
    width: 100%;
    height: 50%;

    font-family: 'Source Serif 4';
    font-style: normal;
    font-weight: 400;
    font-size: 3vh;
    line-height: 3vh;
    color:#FBEAFF;
    border: solid;
}

.clothing-upload > form {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    border: solid;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hamburger-container, .empty-placeholder {
    width: 10%;
    height: 100%;
    display: none;
}

@media only screen and (max-device-width: 1000px) {

    .hamburger-container {
        display: block;
    }

    .empty-placeholder {
        display: block;
    }

}

@media only screen and (max-device-width: 600px) {

    section.clothing-upload {
        width: 90%;
    }

    input#name, .upload-file, select, .confirm-upload {
        margin-top: 2%;
        width: 100%;
    }

    input#name {
        width: 98%;
    }

    .upload-file {
        width: 97%;
    }

    .upload-file {
        /*color: #FBEAFF;*/
        /*background: #00C9A7;*/
    }

    select {
        color: #FBEAFF;
        background: #00C9A7;
    }

    .confirm-upload {
    }

}