html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
    background: #B39CD0;

}

.page-container {
    height: 100%;
    width: 100%;

    background: #B39CD0;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.content-container {
    height: 70%;
    width: 100%;

    background: #B39CD0;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    border: solid;
}


#welcome-message {
    font-family: 'Source Serif 4';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 110px;
    text-align: center;

    color: #FBEAFF;

    margin-top: 0%;
    margin-bottom: 0%;
}

#description {
    font-family: 'Source Serif 4';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 66px;
    text-align: center;

    color: #FBEAFF;

    margin-top: 0%;
    margin-top: -2%;
}

.picture {
    width: 50%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    border: solid;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.forms-container {
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

    border: solid;
}

#form-login {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 50%;
    height: 60%;

    background: #00C9A7;
    border-radius: 45px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

    border: solid;
}

.input-container {
    width: 100%;
    height: 60%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;

    border: solid;
}

#username-container {
    width: 100%;
}

.form-title {
    font-family: 'Source Serif 4';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;

    color: #FBEAFF;

    text-align: center;

    margin: 0%;

    border: solid;
}

#register-title {
    font-size: 64px;
    line-height: 88px;
}

#username-title {
    font-family: 'Source Serif 4';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;

    color: #FBEAFF;

    margin: 0%;
    margin-left: -40%;
}

#email-input {
    width: 75%;
    height: 40%;

    background: #FBEAFF;
    border-radius: 45px;

    border: none;

    padding-left: 5%;
}

#password-title {
    font-family: 'Source Serif 4';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;

    color: #FBEAFF;

    margin: 0%;
    margin-left: -40%;

}

#password-input {
    width: 75%;
    height: 40%; 

    background: #FBEAFF;
    border-radius: 45px;

    border: none;

    padding-left: 5%;
}

#login-button {
    width: 55%;
    height: 35%;

    font-family: 'Source Serif 4';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    color:#FBEAFF;

    background: #845EC2;
    border-radius: 45px;
    
    border-width: 0px;

    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 20%;
    margin-right: 20%;

}

.register-container {
    width: 50%;
    height: 30%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    border: solid;

    margin: 5%;
}

#account-question {

    font-family: 'Source Serif 4';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;

    text-align: center;

    color: #FBEAFF;


    border: solid;    
}

#register-redirect-form {
    height: 50%;
    width: 100%;

    border: solid;
}

#register-redirect-button {
    width: 100%;
    height: 100%;

    font-family: 'Source Serif 4';
    font-style: normal;
    font-weight: 400;
    font-size: 62px;
    line-height: 88px;
    color:#FBEAFF;

    
    background: #845EC2;
    border-radius: 45px;
    border-width: 0px;
    
    border: none;

    /* margin-bottom: 5%; */
}

@media only screen and (max-device-width: 700px) {

    .picture {
        display: none;
    }    

    .forms-container {
        width: 100%;
    }

    .login-container {
        width: 75%;
    }

    .register-container {
        width: 75%;
    }

}

/* register page below */
h1 {
    text-align: center;
}



.base-container {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    
    justify-items: center;
    justify-content: space-around;
    align-items: center;

    background: #B39CD0;

    border: solid;
}

#form-register {
    height: 75%;
    width: 55%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;

    background: #00C9A7;
    border-radius: 45px;

    border: solid;
}

.register-form-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

    border: solid;
}

#woman {
    width: 50%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    border: solid;
}


#register-button {

    width: 75%;
    height: 30%;

    font-family: 'Source Serif 4';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    color:#FBEAFF;

    background: #845EC2;
    border-radius: 45px;
    
    border-width: 0px;

    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 20%;
    margin-right: 20%;


}

@media only screen and (max-device-width: 1000px) {

    #woman {
        display: none;
    }

    #email-input {
        font-size: 24px;
        line-height: 33px;
    }

    #form-register {
        width: 90%;
    }

    #register-button {
        font-size: 75px;
        line-height: 60px;
    }

}

/* wardrobe page */
.main-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
}

.main {
    width: 100%;
    height: 100%;

    margin-left: 15%;
    margin-bottom: 5%;

    display: flex;
    flex-direction: column;

    overflow-y: auto;
}

.sidenav {
    width: 15%;
    height: 100%;
    position: fixed;

    background: #845EC2; 
    padding-top: 2%;
    
    display: flex;
    flex-direction: column;
}

.sidenav a {
    display: block;
    background: #00C9A7;
    text-decoration: none;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-top: 5%;
    margin: 5%;
    border-radius: 45px;

    font-family: 'Source Serif 4';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
/* identical to box height */

    color: #FBEAFF;
}

.nav-label {
    margin: 5%;
    margin-bottom: 45%;
    text-align: center;

    font-family: 'Source Serif 4';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;

    color: #FBEAFF;

}

.util-button {
    width: 15%;
    height: 10%;
    
    background: #00C9A7;
    border-radius: 45px;
    border: none;

    margin-top: 2%;
    margin-left: 5%;

    padding-top: 1%;
    padding-bottom: 1%;

    font-family: 'Source Serif 4';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;

    color: #FBEAFF;

}

.clothing-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
}

.clothing-section-label {
    width: 20%;

    background: #845EC2;
    border-radius: 45px;

    font-family: 'Source Serif 4';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;

    padding: 1%;
    padding-left: 2%;
    
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 1%;


    color: #FBEAFF;

}

.image-space {
    width: 90%;
    min-height: 10vh;
    margin-left: 5%;
    margin-right: 5%;
    background: #FBEAFF;
    border-radius: 45px;

}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


.prompt {
    font-family: 'Source Serif 4';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 55px;

    color: #FBEAFF;
    text-align: left;
    margin-left: 5%;
}

#confirm-outfit-button {
    margin-bottom: 3%;
}

#randomizer-main {
    align-items: center;
    margin: 0%;   
}

hr {
    width: 100%;
    height: 2px;

    margin-top: 2%;
    margin-bottom: 0;
    border: 0;

    background-color: #000000;
}

.outfit {
    width: 85%;
    display: grid;
    margin-left: 20%;
    grid-template-columns: repeat(auto-fill,minmax(30%, 30%));
}

.img-space {
    min-width: 10vh;
    min-height: 10vh;

    background: #FBEAFF;
    border-radius: 45px;

}