form {
    width: 100%;
    height: 70%;


}

.actionButtons {
    width: 90%;
    min-height: 10%;

    margin-top: 1%;
    margin-left: 5%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    align-content: center;
    /*border: solid;*/
    margin-bottom: 3%;
}

.actionButtons > a {
    display: block;
    background: #00C9A7;
    text-decoration: none;
    text-align: center;
    border-radius: 45px;

    padding: 2% 1%;

    font-family: 'Source Serif 4';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;

    color: #FBEAFF;
}

.clothing-part {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    padding: 5%;
    border: solid;
}

.image-space {
    height: max-content;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(0%, 47.5%));
    column-gap: 5%;
    border: solid;
}

.clothing-image {
    height: 100%;
    display: block;
    margin: auto;
    max-width: 100%;

    border: 3px solid black;
    border-radius: 45px;
}

@media only screen and (max-device-width: 700px) {

    .picture {
        display: none;
    }

    .forms-container {
        width: 100%;
    }

    .login-container {
        width: 75%;
    }

    .register-container {
        width: 75%;
    }

}